.main-txt
{
  font-family: 'Calibri'; 
    font-size: 200%; 
 text-align:  center;
  font-weight:bold;
   text-shadow: 1px 1px 2px black;
}

.main-txt h1{margin: 10px 0;}

.txt
{
	font-family: 'Calibri'; 
	 text-align:  center;
	 font-weight:bold;
	  text-shadow: 1px 1px 2px black;
	    padding: 50px;
}
.t1 {
width: 0; 
height: 0;
border-bottom: 80px solid #404abc;
border-left: 80px solid transparent;
color: #404abc;
margin-right: 10px;

}
.t2 {
width: 0; 
height: 0; 
border-bottom: 80px solid #ffffff;
border-right: 80px solid transparent;
color: #ffffff;
margin-right: 220px;
}
 .t3 {
width: 0; 
height: 0;
border-top: 80px solid  #ff1a0a;
border-left: 80px solid transparent;
margin-right: 10px;
}

.t4 {
width: 0; 
height: 0; 
border-bottom: 80px solid #000;
border-right: 80px solid transparent;
margin-left:10px;
}
 .t5 {
width: 0; 
height: 0;
border-top: 80px solid  #ffde09;
border-left: 80px solid transparent;
margin-left:220px;
}
.t6 {
width: 0; 
height: 0;
border-top: 80px solid  #ff1a0a;
border-right: 80px solid transparent;
margin-left:10px;
}


 body{
  overflow-x: auto;
  background-color: #6e9fef;
  font-family: 'Roboto';      
}



.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.flex-item {
  padding: 0;
  width: auto;
  height: auto;
  margin: 0;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.hyper-l{
 font-family: 'Calibri'; 
    font-size: 50%; 
 color: #000;
}

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
}

.nav li {
  display: inline;
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-family: Lato;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}

.date-pic{
 padding-top: 30vh;
height:auto ;
width: auto; 
margin:0 auto;
}

#nav-menu {
    position: sticky;
    width: 100%;
    padding: 2.5vh 0;
    z-index: 99999;
    background-color: #323232;
    height: 2vh;
}

#menu-links {
    display: flex;
    width: 100%;
    background-color: #323232;
}

#menu-links a {
    color: white;
    padding: 0 1.2vw;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    display: block;
}

#menu-icon {
    background: #323232;
    position: absolute;
    right: 20px;
    top: 2.5vh;
}

#menu-links a:hover, #menu-icon:hover {
    color: aqua;
}
@media(min-width: 0) and (orientation: portrait){
/*#nav-menu{
        height: 4vh;
    }*/

    #nav-menu, #menu-icon{
      display: block;
    }

    .navbar{
      display: none;
    }

    #menu-links a{
        font-size: 2em;
        height: 5vh;
    }

    #menu-links{
        flex-direction: column;
        position: absolute;
        top: 7vh;
        display: none;
    }
}

@media (min-width: 0) and (orientation: landscape) {

    .navbar{
      display: block;
    }
    
    #nav-menu, #menu-icon{
        display: none;
    }
}