.colums
{
  font-family: 'Calibri'; 
   text-align:  left;
     padding: 20px;
    word-wrap: break-word;
    width: 500px;
}


.main-txt
{
  font-family: 'Calibri'; 
    font-size: 200%; 
 text-align:  center;
  font-weight:bold;
padding-top: 50px;
}
.top-txt{
  font-family: 'Calibri';  
 text-align:  right;
 padding-right: 100px;
}
.txt
{
  font-family: 'Calibri'; 
   text-align:  center;
     padding: 20px;
}
.prev-p{
transform: scale(-1, 1);
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: top;
  justify-content: center;

}

.flex-item {
  width: 50vw;
  height: auto; 
  line-height: 150px;
  color: white;
  font-size: 3em;
  text-align: center;
}

.hyper-l{
 font-family: 'Calibri'; 
    font-size: 50%; 
    color: #000;
}

.page-up, .page-down{
    position: fixed;
    top: 50%;
    display: flex;
    align-items: center;
    width: 3vw;
    height: 8vh;
    min-width: 30px;
    min-height: 35px;
    max-width: 40px;
    max-height: 50px;
    background-color: black;
    opacity: 0.2;
    transition-property: opacity;
    transition-duration: 1s;
}

.page-up a, .page-down a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.page-up:hover, .page-down:hover{
    opacity: 0.5;
}


.page-down{
    left: 0;
}

.page-up{
    right: 0;
}

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
}

.nav li {
  display: inline;
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-family: Lato;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}


#nav-menu {
    position: sticky;
    width: 100%;
    padding: 2.5vh 0;
    z-index: 99999;
    background-color: rgba(33,33,33,1);
    height: 8vh;
    font-size: 16pt;
}

#menu-links {
    display: flex;
    width: 100%;
    height: auto;
    background-color: transparent;
}

#menu-links a {
    color: white;
    background-color: rgba(33,33,33,0.5);
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: block;

}

#menu-icon {
    background: #323232;
    position: absolute;
    right: 20px;
    top: 2.5vh;
}

#menu-links a:hover, #menu-icon:hover {
    color: aqua;
}
@media(min-width: 0) and (orientation: portrait){
/*#nav-menu{
        height: 4vh;
    }*/
    .colums
{
  font-family: 'Calibri'; 
   text-align:  left;
     padding: 20px;
    word-wrap: break-word;
    width: auto;
    font-size: 16pt;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  /*align-items:top ;*/
  flex-direction: column;
  justify-content: none;
  align-items: stretch;

}

    #nav-menu, #menu-icon{
      display: block;
    }

    .navbar{
      display: none;
    }

    #menu-links a{
        font-size: 2em;
        height: 5vh;
    }

    #menu-links{
        flex-direction: column;
        position: absolute;
        top: 7vh;
        display: none;
    }
}

@media (min-width: 0) and (orientation: landscape) {

    .navbar{
      display: block;
    }
    
    #nav-menu, #menu-icon{
        display: none;
    }
}